{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field, submit_button %}

{% block body %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ data.progress }}%"
             aria-valuenow="{{ data.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {{ data.status_text }}<br><br>
    <form method='POST' action='{{ url_for('create_tournament') }}'>
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.venue) }}
            {{ render_field(form.date) }}
            {{ render_field(form.ranking_list) }}
        </dl>
        {{ submit_button('Seuraava') }}
    </form>
{% endblock %}