{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block body %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ data.progress }}%"
             aria-valuenow="{{ data.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {{ data.status_text }}<br><br>
    <form method='POST' action='{{ url_for(data.post_url, tournament_id=tournament_id) }}'>
        {{ form.hidden_tag() }}
        <dl>
            {% for attr in form.dyn_attrs %}
                {{  render_field(form[attr]) }}
            {% endfor %}
        </dl>
        <input type='submit' value='Seuraava'>
    </form>
{% endblock %}