{% extends 'layout.html' %}

{% block body %}
    {% if rankings and rankings|length > 0 %}
        <h3>Ranking-listat</h3>
        <table class='table table-striped table-bordered'>
            <thead class='thead-dark'>
            <tr>
                <th>Listan nimi</th>
                <th>Pelaajia listalla</th>
            </tr>
            </thead>
            <tbody>
            {% for r in rankings %}
                <tr>
                    <td><a href='{{ url_for('get_list_info', ranking_list_id=r.id) }}'>{{ r.name }}</a></td>
                    <td>{{ r.players|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if players and players|length > 0 %}
        <h3>Pelaajat</h3>
        <table class='table table-striped table-bordered'>
            <thead class='thead-dark'>
            <tr>
                <th>Nimi</th>
                <th>Kokonaispisteet</th>
            </tr>
            </thead>
            <tbody>
            {% for p in players[:10] %}
                <tr>
                    <td><a href='{{ url_for('get_player_info', playerid=p.id) }}'>{{ p.name }}</a></td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif current_user.is_authenticated %}
        <p>Ei rekisteröityneitä pelaajia. <a href="{{ url_for('register_player') }}">Lisää pelaaja!</a></p>
    {% else %}
        <p>Kirjaudu sisään käyttääkseksi järjestelmää.</p>
    {% endif %}
    {% if tournaments and tournaments|length > 0 %}
        <h3>Turnaukset</h3>
        <table class='table table-striped table-bordered'>
            <thead class='thead-dark'>
            <tr>
                <th>Nimi</th>
                <th>Paikka</th>
                <th>Ajankohta</th>
                <th>Pelaajia</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tournaments %}
                <tr>
                    <td><a href='{{ url_for('index') }}'>{{ t.name }}</a></td>
                    <td>{{ t.venue }}</td>
                    <td>{{ t.date }}</td>
                    <td>{{ t.num_players }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}