{% extends "layout.html" %}

{% block body %}
    {% if players and players|length > 0 %}
        <h3>TGR-listan top 10 pelaajaa</h3>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Nimi</th>
                <th>TGR-pisteet</th>
            </tr>
            </thead>
            <tbody>
            {% for p in players[:10] %}
                <tr>
                    <td><a href="{{ url_for("get_player_info", userid=p.id) }}">{{ p.name }}</a></td>
                    <td>
                        {% if p.score >= 0 %}
                            {{ p.score }}
                        {% else %}
                            Not ranked.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No registered players.</p>
    {% endif %}
{% endblock %}