{% extends "layout.html" %}

{% block body %}
    {% if data %}
        {% set player = data[0] %}
        <b>Player info for player #{{ player.id }}: </b>
        <p>Name: {{ player.name }}<br>
            Registered at: {{ player.registered_dt.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        {% if current_user.is_authenticated %}
            <form action="{{ url_for("edit_user_info", userid=player.id) }}">
                <input type="submit" value="Edit player"/>
            </form>
        {% endif %}
    {% elif fail_message %}
        {{ fail_message }}
    {% endif %}
{% endblock %}