{% extends 'layout.html' %}
{% from '_formhelpers.html' import render_field, submit_button, render_radiofield %}

{% block body %}
    <form method='POST'>
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.username) }}
            {{ render_radiofield(form.role) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
        </dl>
        {{ submit_button('Rekisteröidy') }}
    </form>
{% endblock %}